package pages

templ Scan() {
	<html>
		<head>
			<title>Scan</title>
			<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
		</head>
		<body>
			<div id="reader" width="600px"></div>
		</body>
		<script src="http://localhost:1323/assets/js/app.js" type="text/javascript"></script>
	</html>
}
